/* Media Queries */

[class*="col-"] {
    padding: 15px;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


@media only screen and (min-width: 768px) {
    /* For Desktop Devices */
    .col-1 {width: 20%}
    .col-2 {width: 20%}
    .col-3 {width: 20%}
    .col-4 {width: 20%}
    .col-5 {width: 20%}

    div > img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For Mobile Devices */
    [class*="col-"] {
        width: 100%;
    }

    div > img {
        max-width: 100%;
    }

}