#header{
    background-image: url("../images/the\ child.png");
    background-size: 600px;
    background-position: center, bottom;
    background-repeat: no-repeat;
}

h1{
    color: #000000;
    opacity: 0;
    font-family: Mandalore;
    font-size: 150px;
    letter-spacing: 0.3em;
    text-align: center;
}

#title:hover{
    letter-spacing: 0.3em;
    font-weight: 700;
    color: #ffffff;
    opacity: 100;
    background-color: black;
}

.titleBorder{
    height: 200px;
    background-color: black;
    color: black;
}

.titleBorder:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: BebasNeue;
    text-align: center;
}

.subtitle{
    padding-top: 50px;
    font-size: 75px;
    margin: auto;
}

.content-paragraph{
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 26px;
    max-width: 650px;
    font-family: BebasNeue;
}

.content-paragraph:first-line{
    font-size: 30px;
    font-family: BebasNeue;
    line-height: 40px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

img {
    border: 15px solid #787878;
}

#first-bar {
    margin-top: 4em;
    padding: 1em;
}


/* Menu Styling */
header {
    position: fixed;
    background-color: black;
    width: 98.86%;
    height: 4em;
    top: 0px;
    font-family: BebasNeue;
    text-align: right;
}

/* Menu Layout */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    min-width: 6em;
    text-align: center;
}

.menu-item:hover {
    background-color: #787878;
    color: white;
}

/* Link Styling */
.menu-item a {
    color: black;
    text-decoration: none;
}

/* Dropdown Menu */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0.5em 0 0 -1em;
    color: black;
    background-color: white;
    z-index: 1;
    border-radius: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Styling */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 6em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: white;
    background-color: #787878;
}

#Other-productions:hover {
    border-radius: 0em 0em 1em 1em;
}

.dropdown:hover {
    border-radius: 1em 1em 0em 0em;
}

/* Site Name Styling */
.site-name {
    color: white;
    float: left;
    min-width: 6em;
    padding: 0.5 1em;
    letter-spacing: 0.3em;
    font-weight: bold;
    margin: 1em .2em;
    margin-left: 1em;
}